{% assign author = page.author | default: page.authors[0] | default: site.author %}

{% if author %}
<div itemscope itemtype="https://schema.org/Person" class="h-card">

  {% if author.avatar %}
    <div class="author__avatar">
      <a href="{{ author.home | default: '/' | relative_url }}">
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | relative_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
    
    {% if author.location %}
      <div class="author__location" itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
        <i class="fas fa-fw fa-location-dot" aria-hidden="true"></i> <span itemprop="name" class="p-locality">{{ author.location }}</span>
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            <li>
              <a href="{{ link.url }}" rel="nofollow noopener noreferrer me" {% if link.url contains 'http' %}target="_blank"{% endif %}>
                {% if link.icon %}<i class="{{ link.icon }}" aria-hidden="true"></i>{% endif %}
                <span class="label">{{ link.label }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
      
      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" rel="nofollow noopener noreferrer me">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i>
            <span class="label">{{ site.data.ui-text[locale].website_label | default: "Website" }}</span>
          </a>
        </li>
      {% endif %}
      
      {% if author.email %}
        {% assign email_parts = author.email | split: "@" %}
        <li>
          <a href="#" class="author-email-link" data-user="{{ email_parts[0] }}" data-domain="{{ email_parts[1] }}" rel="nofollow noopener noreferrer me">
            <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
            <span class="label">{{ site.data.ui-text[locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}
